[submodule "app/src/main/jni/badvpn"]
	path = app/src/main/jni/badvpn
	url = https://github.com/shadowsocks/badvpn
[submodule "app/src/main/jni/libancillary"]
	path = app/src/main/jni/libancillary
	url = https://github.com/shadowsocks/libancillary
[submodule "v2ray"]
	path = v2ray
	url = https://github.com/nekohasekai/AndroidLibV2rayLite
[submodule "shadowsocks/src/main/rust/shadowsocks-rust"]
	path = shadowsocks/src/main/rust/shadowsocks-rust
	url = https://github.com/shadowsocks/shadowsocks-rust.git
[submodule "shadowsocksr/src/main/jni/shadowsocks-libev"]
	path = shadowsocksr/src/main/jni/shadowsocks-libev
	url = https://github.com/shadowsocksRb/shadowsocksr-libev
[submodule "shadowsocksr/src/main/jni/mbedtls"]
	path = shadowsocksr/src/main/jni/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "shadowsocksr/src/main/jni/libancillary"]
	path = shadowsocksr/src/main/jni/libancillary
	url = https://github.com/shadowsocks/libancillary
[submodule "shadowsocksr/src/main/jni/pcre"]
	path = shadowsocksr/src/main/jni/pcre
	url = https://android.googlesource.com/platform/external/pcre
[submodule "shadowsocksr/src/main/jni/libsodium"]
	path = shadowsocksr/src/main/jni/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "shadowsocksr/src/main/jni/re2"]
	path = shadowsocksr/src/main/jni/re2
	url = https://github.com/google/re2
[submodule "xtls-plugin/src/main/go/Xray-core"]
	path = xtls-plugin/src/main/go/Xray-core
	url = https://github.com/XTLS/Xray-core
[submodule "trojan-go-plugin/src/main/go/trojan-go"]
	path = trojan-go-plugin/src/main/go/trojan-go
	url = https://github.com/p4gefau1t/trojan-go
[submodule "app/src/main/jni/proxychains-ng"]
	path = app/src/main/jni/proxychains
	url = https://github.com/SagerNet/proxychains-ng
