*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/app/src/main/assets/v2ray/
/app/src/main/assets/mozilla_included.pem
/app/src/main/assets/mozilla_included.pem.sha256sum
/service_account_credentials.json
jniLibs/