[submodule "library/core/src/main/jni/badvpn"]
	path = library/core/src/main/jni/badvpn
	url = https://github.com/SagerNet/badvpn
[submodule "library/core/src/main/jni/libancillary"]
	path = library/core/src/main/jni/libancillary
	url = https://github.com/shadowsocks/libancillary
[submodule "library/v2ray"]
	path = library/v2ray
	url = https://github.com/SagerNet/AndroidLibV2rayLite
[submodule "library/shadowsocks/src/main/rust/shadowsocks-rust"]
	path = library/shadowsocks/src/main/rust/shadowsocks-rust
	url = https://github.com/shadowsocks/shadowsocks-rust.git
[submodule "library/shadowsocksr/src/main/jni/shadowsocks-libev"]
	path = library/shadowsocksr/src/main/jni/shadowsocks-libev
	url = https://github.com/shadowsocksRb/shadowsocksr-libev
[submodule "library/shadowsocksr/src/main/jni/mbedtls"]
	path = library/shadowsocksr/src/main/jni/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "library/shadowsocksr/src/main/jni/libancillary"]
	path = library/shadowsocksr/src/main/jni/libancillary
	url = https://github.com/shadowsocks/libancillary
[submodule "library/shadowsocksr/src/main/jni/pcre"]
	path = library/shadowsocksr/src/main/jni/pcre
	url = https://android.googlesource.com/platform/external/pcre
[submodule "library/shadowsocksr/src/main/jni/libsodium"]
	path = library/shadowsocksr/src/main/jni/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "library/shadowsocksr/src/main/jni/re2"]
	path = library/shadowsocksr/src/main/jni/re2
	url = https://github.com/google/re2
[submodule "plugin/trojan-go/src/main/go/trojan-go"]
	path = plugin/trojan-go/src/main/go/trojan-go
	url = https://github.com/p4gefau1t/trojan-go
[submodule "plugin/naive/src/main/jni/naiveproxy"]
	path = plugin/naive/src/main/jni/naiveproxy
	url = https://github.com/klzgrad/naiveproxy
[submodule "plugin/pingtunnel/src/main/go/pingtunnel"]
	path = plugin/pingtunnel/src/main/go/pingtunnel
	url = https://github.com/esrrhs/pingtunnel
[submodule "plugin/relaybaton/src/main/go/relaybaton"]
	path = plugin/relaybaton/src/main/go/relaybaton
	url = https://github.com/iyouport-org/relaybaton
[submodule "plugin/brook/src/main/go/brook"]
	path = plugin/brook/src/main/go/brook
	url = https://github.com/txthinking/brook
[submodule "external/editorkit"]
	path = external/editorkit
	url = https://github.com/SagerNet/editorkit
[submodule "external/preferencex"]
	path = external/preferencex
	url = https://github.com/SagerNet/preferencex-android
[submodule "external/v2ray-core"]
	path = external/v2ray-core
	url = https://github.com/v2fly/v2ray-core
[submodule "plugin/trojan/src/main/cpp/igniter-libs"]
	path = plugin/trojan/src/main/cpp/igniter-libs
	url = https://github.com/trojan-gfw/igniter-libs
[submodule "plugin/trojan/src/main/cpp/trojan"]
	path = plugin/trojan/src/main/cpp/trojan
	url = https://github.com/trojan-gfw/trojan
